{
	"presets" : ["es2015"],
	"plugins": [
		["transform-class-properties"],
			["babel-plugin-root-import",
			[{
				"rootPathPrefix": "~",
				"rootPathSuffix": "source/js"
			},
            {
				"rootPathPrefix": "@",
				"rootPathSuffix": "source/js/data"
            }]
		]
	]
}